TESTS/services/hello_world_srv_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="hello_world_srv"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="hello_world_srvOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="phrase"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="name" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="hello_world_srvOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="hello_world_srvOperationRequest">
		<wsdl:part name="parameters" element="tns:hello_world_srvOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="hello_world_srvOperationResponse">
		<wsdl:part name="parameters" element="tns:hello_world_srvOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="hello_world_srvPortType">
		<wsdl:operation name="hello_world_srvOperation">
			<wsdl:input message="tns:hello_world_srvOperationRequest"></wsdl:input>
			<wsdl:output message="tns:hello_world_srvOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="hello_world_srvBinding" type="tns:hello_world_srvPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="hello_world_srvOperation">
			<soap:operation soapAction="http://www.talend.org/service/hello_world_srvOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="hello_world_srv">
		<wsdl:port name="hello_world_srvPort" binding="tns:hello_world_srvBinding">
			<soap:address location="http://localhost:8090/services/hello_world_srv" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>